/* master class */
.btn-loading {
    position: relative;
    padding-right: 32px;
    pointer-events: none;
}

.btn-loading::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(/center/static/main/img/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.btn-xs.btn-loading::after {
    top: 3px;
    right: 3px;
    width: 15px;
    height: 15px;
}

.usn {
    user-select: none;
}

.form-group .hint {
    color: #777;
    font-weight: normal;
}

.form-group .hint::before {
    content: " ("
}

.form-group .hint::after {
    content: ")"
}

.form-group.required label::after {
    content: " *";
    color: #f44336;
}

.dropdown-menu-left {
    left: auto;
    right: 0;
}

.form-chevron-down,
select.form-control {
    -webkit-appearance: none;
    background-image: url(/center/static/main/img/chevron_down.svg);
    background-repeat: no-repeat;
    background-position: right 10px bottom 50%;
    padding-right: 30px !important;
}

.text-hint {
    color: #777;
    font-weight: normal;
}

.dataTables_length select.form-control {
    padding: 0 7px;
}

.table {
    width: 100% !important;
}

.table .dtr-details li {
    max-width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    overflow-wrap: anywhere;
}

.table .dtr-details {
    width: 100%;
}

.table .dtr-data {
    max-width: 100%;
    margin-left: 15px;
}

.modal-xl {
    width: 1139px;
}

.modal-xxl {
    width: 1266px;
}

.modal-right {
    position: fixed;
    top: -30px;
    right: 0;
}

.modal-right > .modal-content {
    height: 100vh;
    overflow-y: auto;
}

.modal.fade .modal-dialog.modal-right {
    transform: translate(25%, 0);
}

.modal.in .modal-dialog.modal-right {
    transform: translate(0, 0);
}

.btn-table {
    cursor: pointer;
    padding: 8px;
    margin: -5px;
}

.header-quote {
    float: right;
    color: #c1dbdf;
    margin: 25px 30px 0 0;
    max-width: 50vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cup {
    cursor: pointer;
}

.h-underline:hover {
    text-decoration: underline;
}

.d-ib {
    display: inline-block;
}


.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mt60 {
    margin-bottom: 60px;
}


.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb60 {
    margin-bottom: 60px;
}

.ml5 {
    margin-left: 5px;
}

.mr5 {
    margin-right: 5px;
}

.mr3 {
    margin-right: 3px;
}


.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

[click-emit] {
    cursor: pointer;
}

.tdu {
    text-decoration: underline;
}

.wsn {
    vertical-align: inherit;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ell200 {
    vertical-align: inherit;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.ell250 {
    vertical-align: inherit;
    display: inline-block;
    white-space: nowrap;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ell300 {
    vertical-align: inherit;
    display: inline-block;
    white-space: nowrap;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrapper-choice {
    display: flex;
    flex-wrap: wrap;
}

.wrapper-choice > div {
    border: 1px solid #009688;
    border-radius: 7px;
    margin: 1px 2px;
    cursor: pointer;
    color: #444;
    padding: 2px 6px;
    user-select: none;
    background: #fff;
    color: #009688;
}

.wrapper-choice > div.active {
    background: #009688;
    color: #fff;
}

.form-checkbox input {
    margin-right: 5px;
}

.form-checkbox {
    user-select: none;
    display: flex;
    cursor: pointer;
}

/* override lte */

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
    top: auto;
}

.content-header {
    padding: 0 0 15px 0;
}

.content-header>.breadcrumb {
    margin-top: -15px;
}

.wrapper {
    overflow: hidden;
}

.sidebar {
    min-height: 110vh;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right) {
    width: 223px;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span.pull-right-container {
    display: none !important;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
    width: 223px;
}

.sidebar-menu li.header {
    transition: all .3s ease-in-out;
    padding: 0 15px;
    height: 37px;
    line-height: 37px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu li.header {
    display: block !important;
    height: 0;
}

.user-panel>.image>img {
    width: 45px;
    height: 45px;
    transition: all ease-in-out .3s;
}

.sidebar-collapse .user-panel>.image>img {
    width: 30px;
    height: 30px;
}

.user-image,
.user-header .img-circle,
.sidebar .img-circle {
    object-fit: cover;
}

/* theme lte */
.skin-red .main-header .navbar {
    background: #006d7b;
}

.skin-red .main-header .navbar .nav>li>a {
    color: #ffffff;
}

.skin-red .main-header .navbar .nav>li>a:hover,
.skin-red .main-header .navbar .nav>li>a:active,
.skin-red .main-header .navbar .nav>li>a:focus,
.skin-red .main-header .navbar .nav .open>a,
.skin-red .main-header .navbar .nav .open>a:hover,
.skin-red .main-header .navbar .nav .open>a:focus,
.skin-red .main-header .navbar .nav>.active>a {
    background: rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
}

.skin-red .main-header .navbar .sidebar-toggle {
    color: #ffffff;
}

.skin-red .main-header .navbar .sidebar-toggle {
    color: #fff;
}

.skin-red .main-header .navbar .sidebar-toggle:hover {
    color: #f6f6f6;
    background-color: rgba(0, 0, 0, .1);
}

@media (max-width: 767px) {
    .skin-red .main-header .navbar .dropdown-menu li.divider {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .skin-red .main-header .navbar .dropdown-menu li a {
        color: #fff;
    }

    .skin-red .main-header .navbar .dropdown-menu li a:hover {
        background: #00515a;
    }
}

.skin-red .main-header .logo:hover,
.skin-red .main-header .logo {
    background-color: #00515a;
    color: #fff;
}

.skin-red .main-header li.user-header {
    background-color: #006d7b;
}

.skin-red .content-header {
    background: transparent;
}

.skin-red .wrapper,
.skin-red .main-sidebar,
.skin-red .left-side {
    background-color: #222d32;
}

.skin-red .user-panel>.info,
.skin-red .user-panel>.info>a {
    color: #fff;
}

.skin-red .sidebar-menu>li.header {
    color: #4b646f;
    background: #1a2226;
}

.skin-red .sidebar-menu>li>a {
    border-left: 3px solid transparent;
}

.skin-red .sidebar-menu>li:hover>a,
.skin-red .sidebar-menu>li.active>a,
.skin-red .sidebar-menu>li.menu-open>a {
    color: #ffffff;
    background: #1e282c;
}

.skin-red .sidebar-menu>li.active>a {
    border-left-color: #006d7b;
}

.skin-red .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: #2c3b41;
}

.skin-red .sidebar a {
    color: #b8c7ce;
}

.skin-red .sidebar a:hover {
    text-decoration: none;
}

.skin-red .sidebar-menu .treeview-menu>li>a {
    color: #8aa4af;
}

.skin-red .sidebar-menu .treeview-menu>li.active>a,
.skin-red .sidebar-menu .treeview-menu>li>a:hover {
    color: #ffffff;
}

.skin-red .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
}

.skin-red .sidebar-form input[type="text"],
.skin-red .sidebar-form .btn {
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
}

.skin-red .sidebar-form input[type="text"] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
}

.skin-red .sidebar-form input[type="text"]:focus,
.skin-red .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
    background-color: #fff;
    color: #666;
}

.skin-red .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
    border-left-color: #fff;
}

.skin-red .sidebar-form .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
}

/* close nav btn */
#sidebar_toggle {
    display: inline-block;
    cursor: pointer;
    padding: 14px 7px;
    margin-bottom: -10px;
}

#sidebar_toggle:hover {
    background: rgba(0, 0, 0, 0.2);
}

#sidebar_toggle > div {
    width: 20px;
    height: 2px;
    background: #fff;
    margin: 4px 6px;
    transition: all .6s ease-in-out;
}

#sidebar_toggle > div:nth-child(1) {
    transform: rotate(-225deg) translate(4px, -4px);
}

#sidebar_toggle > div:nth-child(2) {
    transform: rotate(-180deg) translate(-100px, 0);
    transition: all 1s ease-in-out;
    opacity: 0;
}

#sidebar_toggle > div:nth-child(3) {
    transform: rotate(225deg) translate(4px, 4px);
}

.sidebar-collapse #sidebar_toggle > div {
    transform: none;
    opacity: 1;
}

@media (max-width: 767px) {
    body:not(.sidebar-open) #sidebar_toggle > div,
    .sidebar-collapse:not(.sidebar-open) #sidebar_toggle > div {
        transform: none;
        opacity: 1;
    }
}

.wt-box {
    display: flex;
    flex-wrap: wrap;
}

.wt-item {
    padding: 3px 7px;
    margin: 2px;
    border-radius: 21px;
    border: 1px solid #009688;
    cursor: pointer;
    user-select: none;
    color: #009688;
}

.wt-active {
    background: #009688;
    color: #fff;
}

/* prog */
.prog {
    display: flex !important;
    align-items: center;
    height: 50px;
    padding-right: 100px;
    color: #fff;
    transition: opacity .3s ease-in-out;
}

.prog-float {
    position: fixed !important;
    background: rgba(0, 0, 0, 0.77);
    top: 25px;
    padding: 10px;
    right: 50px;
    z-index: 10510000;
    border-radius: 4px;
}

.prog-fade {
    pointer-events: none;
    opacity: 0;
}

.prog-spinner {
    width: 18px;
    height: 18px;
    border: 2px solid #fff;
    border-radius: 50%;
    border-top-color: transparent;
    animation: prog-spinning .6s linear 0s infinite;
    margin-left: 10px;
}

.prog-icon {
    margin-left: 10px;
    font-size: 20px;
}

.prog-icon:not(.hidden) + .prog-spinner {
    display: none;
}

@keyframes prog-spinning {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* form suggest */
.form-group {
    position: relative;
}

.form-suggest {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    width: 100%;
    z-index: 10;
}

.form-suggest > * {
    padding: 7px 15px;
    cursor: pointer;
    border-top: 1px solid #eee;
}

.form-suggest > *:hover {
    background: rgba(0, 0, 0, 0.03);
}

.form-suggest > *:first {
    border-top: none;
}

.form-suggest .label {
    margin-right: 5px;
}

/* select2 */
.select2 {
    width: 100% !important;
}

/* multiple select */
.ms-parent {
    width: 100% !important;
}

.ms-choice {
    height: 34px !important;
    line-height: 34px !important;
    border-color: #d2d6de !important;
    border-radius: 0 !important; 
}

.ms-drop {
    box-shadow: none !important;
    border-color: #d2d6de !important;
    border-radius: 0 !important; 
}

.ms-choice > div {
    top: 10px !important;
    background: url(/center/static/main/img/chevron_down.svg) left top no-repeat !important;
}

.ms-drop input {
    position: relative;
    margin: 0;
    margin-right: 6px;
    vertical-align: baseline !important;
}

.ms-drop input::before {
    content: "";
    background: #fff;
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    border-radius: 2px;
    cursor: pointer;
}

.ms-drop input:checked::before {
    width: 18px;
    height: 18px;
    margin-top: -1px;
    margin-left: -1px;
    border: none;
    background: url(/center/static/main/img/tick.png) no-repeat center;
}

/* tiny */
.mce-tinymce {
    box-shadow: none !important;
}

.mce-branding {
    display: none !important;
}

.mce-fullscreen {
    z-index: 1000 !important;
}

/* override class */

.wrapper-address-i {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 7px 10px;
}

.wrapper-address-i:hover {
    color: #fff;
    background-color: #3c8dbc;
}

.hidden {
    display: none !important;
}

.hidden-next + * {
    display: none !important;
}

div.dataTables_filter label {
    width: 100%;
}

div.dataTables_filter input {
    width: calc(100% - 6px) !important;
}

.swal-button--loading {
    color: transparent !important;
}

/* notification */
.notification {
    max-height: calc(100vh - 100px) !important;
}

.notification > li {
    display: flex;
    align-items: center;
}

.notification > li > a {
    flex: auto;
}

.notification > li > span {
    padding: 13px;
    border-bottom: 1px solid #f4f4f4;
    margin-left: 0 !important;
    cursor: pointer;
}

.notification > li > span:hover {
    background: rgba(0, 0, 0, 0.2);
}

.notifications-menu > .dropdown-menu {
    width: 550px !important;
}

.notification-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.329);
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease-in-out ;
}

.notifications-menu.open > .notification-overlay {
    opacity: 1;
    pointer-events: auto;
}

/* store edit modal input */
#store_edit_modal_input {
    resize: vertical;
    height: 300px;
}

.banner-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 133px;
    background: #f5f5f5;
    /* border-radius: 8px 8px 0 0; */
    font-size: 14px;
    overflow: hidden;
}

.banner-box .cover-upload-btn {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
}

.cover-upload-btn {
    position: absolute;
    top: 9px;
    right: 16px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

input[type=number].form-control {
    padding: 0px !important;
    text-indent: 12px;
}

.activity-center-list > div {
    padding: 6px 0;
    border-bottom: 1px solid #e4e4e4;
}

.activity-center-list > div:hover {
    background: rgba(206, 206, 206, 0.21);
}

.activity-center-list > div:last-child {
    border-bottom: none;
}

.activity-center-created {
    color: #959595;
    float: right;
}