<header class="main-header">
    <a class="logo" href="/">
        <span class="logo-mini">
            <b>Attlas</b>
        </span>
        <span class="logo-lg"><b>Attlas</b>.io</span>
    </a>
    <nav class="navbar navbar-static-top">
        <div id="sidebar_toggle" data-toggle="push-menu" role="button">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <img class="user-image" src="/center/static/main/img/unknown-user.png" store-bind="g_avatar">
                        <span class="hidden-xs" store-bind="g_username">Guest</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img class="img-circle" src="/center/static/main/img/unknown-user.png" store-bind="g_avatar">
                            <p>
                                <strong store-bind="g_username">Guest</strong>
                                <br>
                                <span store-bind="g_email">guest@attlas.io</span>
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a class="btn btn-default btn-flat" href="/user~profile">Thông tin tài khoản</a>
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-default btn-flat g_id_signout" click-emit="g_user_logout">Đăng xuất</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
