<aside class="main-sidebar">
    <section class="sidebar" id="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img class="img-circle" src="/center/static/main/img/unknown-user.png" store-bind="g_avatar" />
            </div>

            <div class="pull-left info">
                <p>
                    <a href="/user~profile" store-bind="g_username">Guest</a>
                </p>
                <a href="#"> <i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <ul class="sidebar-menu">
            <li class="header">NAVIGATION</li>
        </ul>
        <ul class="sidebar-menu" data-widget="tree" id="sidebar_menu">
            <li class="treeview">
                <a href="#" class="keychainify-checked">
                    <i class="fa fa-money"></i>
                    <span>ETH</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a class="menu-i keychainify-checked" href="/user~transfer">ERC20 Transfer</a>
                    </li>
                    <li>
                        <a class="menu-i keychainify-checked" href="/user~eth">ETH Balance</a>
                    </li>
                    <li>
                        <a class="menu-i keychainify-checked" href="/user~device">My devices</a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
