<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="stylesheet" href="/center/static/cm/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="/center/static/cm/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/center/static/cm/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/center/static/cm/bower_components/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="/center/static/cm/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="/center/static/main/css/jqueryui.css">
    <link rel="stylesheet" href="/center/static/main/css/datetimepicker.css">
    <link rel="stylesheet" href="/center/static/cm/dist/css/AdminLTE.min.css">

    <link rel="stylesheet" href="/center/static/main/css/main.css">
    <link rel="stylesheet" href="/center/static/main/css/datatables.min.css">

    <script src="/center/static/main/js/ori.bundle.js"></script>
</head>

<body class="hold-transition skin-red sidebar-mini">
    <script>
        if (!localStorage.is_sidebar_open && document.documentElement.clientWidth >= 769) {
            document.body.className += ' sidebar-collapse'
        }
    </script>

    <div class="wrapper">
        {{> header }}
        {{> sidebar }}

        <div class="content-wrapper">
            <script src="/center/static/cm/bower_components/jquery/dist/jquery.min.js"></script>
            <script src="/center/static/cm/bower_components/moment/min/moment.min.js"></script>
            <script src="/center/static/main/js/moment.locale.vi.min.js"></script>
            <script src="/center/static/cm/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="/center/static/cm/bower_components/select2/dist/js/select2.full.min.js"></script>
            <script src="/center/static/cm/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
            <script src="/center/static/main/js/jqueryui-12.js"></script>
            <script src="/center/static/main/js/datetimepicker.js"></script>
            <script src="/center/static/cm/dist/js/adminlte.min.js"></script>
            <script src="/center/static/main/js/sweetalert.min.js"></script>
            <script src="/center/static/main/js/main.js?v10"></script>
            <script src="/center/static/main/js/datatables.min.js"></script>

            <div class="content" id="content">{{{ body }}}</div>
        </div>

        {{> footer }}
    </div>

    <div class="prog prog-float prog-fade" id="prog_box" click-emit="prog_pop">
        <div id="prog_message"></div>
        ...
        <span class="prog-icon hidden" id="prog_icon"></span>
        <div class="prog-spinner"></div>
    </div>
</body>
